*{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

h2{
    text-align: center;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

main{
    width: 21.0cm;
    height: 29.7cm;
    margin: 0 auto;
}