body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .resume {
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .contact {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .sub-info {
    font-style: italic;
    margin-bottom: 5px;
  }
  
  .skills {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .skills li {
    margin-right: 10px;
    margin-bottom: 5px;
  }
  
  .experience ul,
  .projects ul {
    padding-left: 20px;
  }

  button{
    margin: auto;
  }

  @media print {
    body {
      visibility: hidden;
    }
    #section-to-print {
      visibility: visible;
      position: absolute;
      left: 0;
      top: 0;
    }
    a{
      color: black;
    }
  }