@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

.root,
#root,
#docs-root {
  --c-sky: #9bb8cd;
  --c-sand: #fff7d4;
  --c-mango: #eec759;
  --c-sage: #b1c381;
  font-family: 'Sarabun', sans-serif;
}

nav a:hover {
  color: var(--c-sage);
}

#door-wheel {
  background-image: conic-gradient(
    var(--c-sand) 25%,
    var(--c-sky) 25% 50%,
    var(--c-mango) 50% 75%,
    var(--c-sage) 75% 100%
  );
}

.rtsand {
  transform: rotate(315deg);
  transition: transform 0.5s linear;
}
.rtsky {
  transform: rotate(225deg);
  transition: transform 0.5s linear;
}
.rtmango {
  transform: rotate(135deg);
  transition: transform 0.5s linear;
}
.rtsage {
  transform: rotate(45deg);

  transition: transform 0.5s linear;
}
